<!-- info section -->
<section class="info_section ">
    <div class="d-flex justify-content-center">
        <div class="social_container">

            <div class="number-box">
                <a href="">
                    <img src="~/images/phone.png" alt="">
                    <h6>
                        +98 9107633956
                    </h6>
                </a>
            </div>
            <div class="mail-box">
                <a href="https://mahyar.sharifi82@gmail.com">
                    <img src="~/images/mail.png" alt="Mail">
                    <h6>
                        mahyar.sharifi82@gmail.com
                    </h6>
                </a>
            </div>
            <div class="social-box">
                <div class="box">
                    <a href="">
                        <img src="~/images/twitter.png" alt="Twitter">
                    </a>
                </div>
                <div class="box">
                    <a href="https://linkedin.com/in/mahyarsharifiii">
                        <img src="~/images/linkedin.png" alt="Linkedin">
                    </a>
                </div>
                <div class="box">
                    <a href="https://www.instagram.com/mahyarsharifii">
                        <img src="~/images/instagram-logo.png" alt="Instagram">
                    </a>
                </div>
            </div>

        </div>
    </div>
    <!-- about section -->
    <section class="about_section layout_padding">
        <div class="container">
            <div class="heading_container">
                <h2>
                    درباره ی خودرو آنالیز
                </h2>
                <hr>
            </div>
            <div>
                <p>
                    <h3>خودرو آنالیز؛ سایت تخصصی تست و بررسی خودرو</h3>
                    هدف از راه اندازی سایت خودرو آنالیز، تست و بررسی خودروها و ماشین های بازار ( ساخت داخل ) است و هر خودرو یا ماشین به صورت توضیحات یا مقاله به طور تخصصی مورد تست و معرفی قرار می گیرد. خودرو آنالیز به عنوان پیشرو در زمینه تست و بررسی خودروها و ماشین های بازار ایران در بین سایت های خودرویی و در مورد ماشین محسوب می شود. همچنین مشخصات فنی خودرو به صورت کامل به همراه فیلم و عکس قابل مشاهده است. در این سایت خودروهای معروف بازار از برندهای معتبری چون رنو، پژو، سایپا، سمند، نیسان و ... به صورت تخصصی تست شده و تجربه رانندگی با هر خودرو به همراه عکس و متن در سایت قرار دارد.
                </p>
            </div>
        </div>
    </section>
    <!-- end about section -->
</section>
<!-- end info section -->
