<section class=" slider_section ">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active">01</li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1">02</li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 ">
                            <div class="slider_detail-box">
                                <h1>
                                    بررسی جدیدترین <br>
                                    خودروهای <br>
                                    بازار <br>
                                    ایران
                                </h1>
                                <div class="btn-box">
                                    <a asp-page="./CarCategory" class="btn-1">
                                        بررسی خودروها
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 ">
                            <div class="slider_detail-box">
                                <h1>
                                    جدیدترین <br>
                                    مقالات <br>
                                    خودرویی <br>
                                </h1>
                                <div class="btn-box">
                                    <a asp-page="./Blogs" class="btn-1">
                                        مطالعه مقالات
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel_btn-container">
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="sr-only">قبلی</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="sr-only">بعدی</span>
            </a>
        </div>
    </div>
</section>